<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postwoman</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <div class="container mt-3">
        <div class="columns is-centered">
            <div class="column is-half">
                <article class="message">
                    <div class="message-header">
                        <p>Postwoman</p>
                    </div>
                    <div class="message-body">
                        <form style="text-align: center;" action="/request" method="post" enctype="application/x-www-form-urlencoded">
                            <div class="field">
                                <label class="label">URL</label>
                                <div class="control">
                                    <input class="input" type="text" name="url" placeholder="URL">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Body Type</label>
                                <div class="control">
                                    <div class="select">
                                        <select name="type">
                                            <option value="form-data">FORM-DATA</option>
                                            <option value="json">JSON</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Body</label>
                                <div id="post-container"></div>
                                <button class="button is-primary" type="button" id="add-post">+</button>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary" type="submit">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <script>
        const addPost = document.getElementById('add-post');
        const postContainer = document.getElementById('post-container');
        let postCount = 0;
        addPost.addEventListener('click', () => {
            const postInput = document.createElement('div');
            postInput.classList.add('field', 'is-grouped');
            postInput.innerHTML = `
                <div class="control" style="margin: 0 auto;">
                    <input class="input" type="text" name="body[${postCount}][key]" placeholder="Key">
                </div>
                <div class="control" style="margin: 0 auto;">
                    <input class="input" type="text" name="body[${postCount}][value]" placeholder="Value">
                </div>
            `;
            postContainer.appendChild(postInput);
            postCount++;
        });
    </script>
</body>
</html>
